footer{
    background-color: #353535;
    @extend .bloc_top;
    padding: 0 20px 20px 20px;
    color: white;
    min-width: 300px;
    li{
        margin-bottom: 6px;
    }
    h5{
        font-size: 20px;
        font-family: "Shrikhand";
        font-weight: 140;
    }
    ul{
        list-style-type: none;
        margin-top: 15px;
        a{
            color: white;
        }
    }
    b{
        padding-left: 20px;
    }

}

.link__imaged{
    display: flex;
    gap: 15px;
    .fa-utensils{
        margin-right: 6px;
    }
}

@media (min-width: 992px){
    footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1400px;
        @include centered;
        padding-left: 0px;
        padding-right: 0px;
    }
    .column-footer {
        display: flex;
        gap: 160px;
        max-width: 1400px;
        margin-right: 20px;
    }
    h5 {
        padding-left: 20px;
    }
    b{
        padding-left: 20px;
    }
}