footer{
    background-color: #353535;
    padding: 20px;
    color: white;
}

footer li{
    margin-bottom: 6px;
}

footer h5{
    font-size: 20px;
    font-family: "Shrikhand";
    font-weight: 140;
}

ul{
    list-style-type: none;
    margin-top: 15px;
}

ul a{
    color: white;
}

.imaged{
    display: flex;
    gap: 15px;
}

.imaged .fa-utensils{
    margin-right: 6px;
}

@media (min-width: 992px){
    footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .column-footer {
        display: flex;
        gap: 160px;
    }
}

