/* DEFINITION LOCALISATION BAR */
.bar__loca--zone {
    background-color: $background2;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    @extend .bloc_top;
    padding-bottom: 25px;
    & p, i  {
        font-size: 20px;
        font-weight: bold;
        opacity: 0.6;
  }
}