@keyframes menu-appear {
  0% {
    margin-top: 60px;
    opacity: 0;
  }
  100% {
    margin-top: 0px;
    opacity: 1;
  }
}
@keyframes loader-exit {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg) scale(0);
  }
  50% {
    transform: rotate(360deg) scale(1);
  }
  100% {
    transform: rotate(0deg) scale(0);
  }
}
/* STYLES PRINCIPAUX */
* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Roboto", sans-serif;
  src: url("Roboto-Regular.eot?#iefix") format("embedded-opentype"), url("Roboto-Regular.woff2") format("woff2"), url("Roboto-Regular.woff") format("woff"), url("Roboto-Regular.ttf") format("truetype"), url("Roboto-Regular.svg#Roboto-Regular") format("svg");
}
body {
  width: 100%;
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

main {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 1400px;
}

p {
  font-family: "roboto";
}

h1 {
  font-weight: bold;
  font-family: "Roboto";
  font-size: 24px;
}

h4 {
  font-weight: lighter;
  font-family: "Roboto";
  font-size: 16px;
}

a {
  text-decoration: none;
}

.loader {
  background-color: #f7f7f7;
  height: 100vh;
  inset: 0;
  position: fixed;
  z-index: 2;
  animation: loader-exit 1s 3s;
  animation-fill-mode: forwards;
  display: grid;
  place-items: center;
  opacity: 0.9;
}
.loader__item {
  height: 50px;
  width: 50px;
  border: 6px solid transparent;
  border-radius: 50px;
  border-top-color: #99E2D0;
  border-bottom-color: #99E2D0;
  animation: spin 3s cubic-bezier(0.5, 0.17, 0.37, 0.82) infinite;
  animation-fill-mode: forwards;
  position: relative;
}

/* DEFINITION HEADER NAVBAR */
.navbar {
  padding-bottom: 30px;
  box-shadow: 0 0 0.1px rgba(0, 0, 0, 0.25);
  position: relative;
  display: flex;
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.back-arrow {
  display: block;
  position: absolute;
  font-size: 20px;
  margin-top: 4px;
  margin-left: 20px;
  color: black;
}
.back-arrow:hover {
  opacity: 0.7;
}

@media (min-width: 768px) {
  .back-arrow {
    margin-left: 40px;
  }
}
/* DEFINITION INTRO */
.bar__intro {
  background-color: #f7f7f7;
  border: 1px none solid;
  text-align: center;
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bar__intro h1 {
  margin: 0 50px;
}

.bar__intro h4 {
  margin: 22px 50px 0 50px;
  opacity: 0.6;
}

.btn__explore {
  margin-top: 22px;
  font-weight: 600;
  font-family: "roboto";
  color: white;
  font-size: 18px;
  padding: 15px 20px 15px 20px;
  border-radius: 100px;
  background-image: linear-gradient(1deg, #9356DC, #FF79DA);
  box-shadow: 2px 2px 10px rgb(146, 146, 146);
}
.btn__explore:hover {
  opacity: 0.9;
  box-shadow: 4px 4px 14px rgb(146, 146, 146);
}

/* DEFINITION LOCALISATION BAR */
.bar__loca--zone {
  background-color: #f3f2f2;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding-bottom: 25px;
}
.bar__loca--zone p, .bar__loca--zone i {
  font-size: 20px;
  font-weight: bold;
  opacity: 0.6;
}

.tutorial {
  padding: 0 20px 50px 20px;
}
.tutorial .tutorial__title {
  margin-bottom: 20px;
}
.tutorial__container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.tutorial__container--step {
  display: flex;
  align-items: center;
}

.step__card {
  display: flex;
  padding: 25px 30px 25px 40px;
  border-radius: 18px;
  background-color: #f7f7f7;
  position: relative;
  width: 100%;
}
.step__card p {
  margin-left: 30px;
  font-weight: bold;
  font-size: 14px;
}
.step__card i {
  font-size: 16px;
}

.step__number {
  font-size: 12px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  z-index: 1;
  height: 25px;
  width: 25px;
  background-color: #9356DC;
  border-radius: 50%;
  margin-left: -8px;
}

@media (min-width: 992px) {
  .tutorial__container {
    flex-direction: row;
    justify-content: space-between;
  }
  .tutorial__container--step {
    flex-grow: 3;
    width: 100%;
  }
}
/* RESTAURANTS */
.map__restaurants {
  padding: 0 20px 60px 20px;
  background-color: #f3f2f2;
}
.map__restaurants--title {
  padding-bottom: 20px;
}

.map_restaurants--container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.card {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
  box-shadow: 2px 2px 10px rgb(146, 146, 146);
  position: relative;
  text-decoration: none;
  color: black;
}
.card .card__badge {
  color: #134337;
  background-color: #99e2d0;
  border-radius: 4px;
  padding: 8px;
  position: absolute;
  top: 18px;
  right: 22px;
}
.card .card__description {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-radius: 0 0 20px 20px;
  padding: 14px;
}
.card .card__description--titre h3 {
  padding-bottom: 6px;
}
.card .card__description .heart {
  position: relative;
}
.card .card__description .heart .fa-solid {
  position: absolute;
  left: 0;
  right: 0;
  background: linear-gradient(1deg, #9356DC, #FF79DA);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  opacity: 0;
}
.card .card__description .heart .fa-solid:hover.fa-solid {
  opacity: 1;
  transform: scale(1.1);
  transition-duration: 700ms;
}

.card__description i {
  font-size: 24px;
  position: relative;
}

.card img {
  height: 12rem;
  width: 100%;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
  flex-grow: inherit;
}

@media (min-width: 992px) {
  .map_restaurants--container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
  }
  .card {
    flex-basis: 48%;
    flex-grow: 3;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
  }
}
footer {
  background-color: #353535;
  padding: 0 20px 20px 20px;
  color: white;
}
footer li {
  margin-bottom: 6px;
}
footer h5 {
  font-size: 20px;
  font-family: "Shrikhand";
  font-weight: 140;
}
footer ul {
  list-style-type: none;
  margin-top: 15px;
}
footer ul a {
  color: white;
}

.link__imaged {
  display: flex;
  gap: 15px;
}
.link__imaged .fa-utensils {
  margin-right: 6px;
}

@media (min-width: 992px) {
  footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .column-footer {
    display: flex;
    gap: 160px;
  }
}
.bloc_top, .navbar, .bar__intro, .bar__loca--zone, .tutorial, .map__restaurants, .map__restaurants--title, footer {
  padding-top: 20px;
}

.restaurant_illustration img {
  width: 100%;
  margin: 0;
  padding: 0;
  object-fit: cover;
  max-height: 470px;
  max-width: 100%;
}

.menu {
  padding: 30px 20px 40px 20px;
  margin-top: -64px;
  border-radius: 40px 40px 0 0;
  background-color: #f7f7f7;
  position: relative;
}
.menu .menu__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}
.menu .menu__title h6 {
  font-family: "shrikhand";
  font-size: 26px;
  letter-spacing: 0.7px;
}
.menu .menu__title i {
  font-size: 28px;
  margin-right: 10px;
}
.menu .menu__title .heart {
  position: relative;
}
.menu .menu__title .heart .fa-solid {
  position: absolute;
  left: 0;
  right: 0;
  cursor: pointer;
  background: linear-gradient(1deg, #9356DC, #FF79DA);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  opacity: 0;
}
.menu .menu__title .heart .fa-solid:hover.fa-solid {
  opacity: 1;
  transform: scale(1.1);
  transition-duration: 700ms;
}

.menu__global {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 30px;
  margin-left: auto;
  margin-right: auto;
}

.submenu {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.submenu .submenu__title {
  text-transform: uppercase;
  color: black;
  opacity: 0.7;
  position: relative;
  padding-bottom: 8px;
  margin-left: 5px;
}
.submenu .submenu__title::after {
  content: "";
  width: 40px;
  height: 4px;
  background-color: #99E2D0;
  position: absolute;
  left: 0;
  bottom: 0;
}
.submenu .submenu__selection {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.submenu .submenu__selection--item {
  background-color: white;
  box-shadow: 2px 2px 10px rgb(146, 146, 146);
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  height: 70px;
  width: 100%;
  cursor: pointer;
  animation: menu-appear 1200ms;
  transition-timing-function: cubic-bezier(0.9, 0.2, 0.61, 0.89);
  animation-fill-mode: both;
  overflow: hidden;
}
.submenu .submenu__selection--item:nth-child(1) {
  animation-delay: 500ms;
}
.submenu .submenu__selection--item:nth-child(2) {
  animation-delay: 1000ms;
}
.submenu .submenu__selection--item:nth-child(3) {
  animation-delay: 1500ms;
}
.submenu .submenu__selection--item:nth-child(4) {
  animation-delay: 2000ms;
}
.submenu .submenu__selection--item:hover .item__check {
  margin-right: 0;
  transition: all 500ms cubic-bezier(0.42, 0, 0.58, 1);
  transition-timing-function: ease-in-out;
}
.submenu .submenu__selection--item:hover .item__check i {
  animation: check-spin 1.2s both;
}

@keyframes check-spin {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
.item__words {
  display: inline-block;
  flex-direction: column;
  gap: 6px;
  padding-left: 16px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.item__words--title {
  font-weight: bold;
  font-size: 16px;
  opacity: 0.8;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.item__words--subtitle {
  font-size: 13px;
  opacity: 0.8;
  white-space: nowrap;
  overflow: hidden;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.item__price {
  font-weight: bold;
  font-size: 14px;
  opacity: 0.8;
  margin-left: 10px;
}
.item__check {
  background-color: #99E2D0;
  display: grid;
  place-items: center;
  border-radius: 0 10px 10px 0;
  padding: 16px;
  margin-right: -66px;
  height: 70px;
}
.item__check i {
  color: white;
  font-size: 24px;
}

.item__part2 {
  display: flex;
  align-items: center;
  gap: 20px;
}

.btn__order {
  margin-top: 50px;
  font-weight: 500;
  font-family: "roboto";
  color: white;
  font-size: 18px;
  padding: 15px 20px 15px 20px;
  border-radius: 100px;
  background-image: linear-gradient(1deg, #9356DC, #FF79DA);
  box-shadow: 2px 2px 10px rgb(146, 146, 146);
  text-align: center;
  width: 160px;
  margin-left: auto;
  margin-right: auto;
}
.btn__order:hover {
  opacity: 0.9;
  box-shadow: 4px 4px 14px rgb(146, 146, 146);
}

@media (min-width: 1020px) {
  .menu__global {
    flex-direction: row;
    width: 100%;
  }
  .submenu {
    flex-basis: 30%;
    max-width: 380px;
  }
}

/*# sourceMappingURL=style.css.map */
